<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unoesc.edu.br.achadoperdido">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyATrItdAa_SH55NZNRmBgxI9A0bRUiLU6Y" />

        <activity
            android:name=".principal.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".principal.PrincipalActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".achado.AchadoCadActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".achado.AchadoActivity">
            <service
                android:name=".gps.GpsService"
                android:enabled="true"
                android:exported="true" />
        </activity>
        <activity android:name=".perdido.PerdidoActivity" />
        <activity android:name=".perdido.PerdidoCadActivity"></activity>
    </application>

</manifest>